### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [40]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [41]:
#purchase_data.head()
#purchase_data.describe()


purchase_id = len(purchase_data["SN"].unique())
playerTotal=pd.DataFrame({"Total number of players":[purchase_id]})
playerTotal

   Total number of players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [42]:
purchaseItem = len(purchase_data["Item ID"].unique())
totalAmount=(purchase_data["Price"]).sum()
purchaseAverage = purchase_data["Price"].mean()
allPurchases =(purchase_data["Purchase ID"]).count()

summaryAnalysis_df =pd.DataFrame({"Number of Unique Items":[purchaseItem],
                          "Average Price":[purchaseAverage],
                          "Total Profit":[totalAmount]
                        
})
summaryAnalysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Profit': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
#purchase_data.head()
#Group data by gender
genders = purchase_data.groupby("Gender")

#genders
#Count the total SN by gender
totalGenders = genders.nunique()["SN"]

#Create total of genders and divivde by total players to get Percentage  and display data frame 
playersPercet = ((totalGenders / purchase_id) * 100)

gendersDemographics = pd.DataFrame({"Players Percentage": playersPercet, "Total Count": totalGenders})

#Display data frame with no index name 
gendersDemographics.index.name = "GAME GENDERS"

#Display the values by "Total Count"  and one decimal place for the percentage
gendersDemographics.sort_values(["Total Count"]).style.format({"Players Percentage":"{:.1f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [44]:
#Purchase total by gender 
purchaseTotal = genders["Price"].sum()

#Average purchase prices by gender
purchaseAverage = genders["Price"].mean()

#Average of purchase
averageTotal = (totalGenders/purchaseAverage)

#Count number of total purchases per gender 
purchaseCount = genders["Purchase ID"].count()


#Create data frame with obtained values and results with no index
genderDemograph = pd.DataFrame({"Purchase Count": purchaseCount, 
                                    "Average Total Purchase Per Person": averageTotal,
                                "Average Purchase Price": purchaseAverage,
                                    "Average Purchase Value":purchaseTotal})

genderDemograph.index.name = None

# Add Dollar $ to values for better format
genderDemograph.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Total Purchase Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [45]:
#Establish bins for ages for later use
ageBins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groupBins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],ageBins, labels=groupBins)
#purchase_data.head()
purchase_data

#Display data frame gruped by "Age Group" 
ageGroup = purchase_data.groupby("Age Group")
#ageGroup.head()

#Total count of players per age segment
totalCount = ageGroup["SN"].nunique()

#Calculate percentages of players by age.... purchase_id => players count
percentageAge = ((totalCount/purchase_id) * (100))

#Create data frame with obtained values with formated values
ageDemograph = pd.DataFrame({"Total Count":totalCount,"Percentage of Players":percentageAge})
ageDemograph.index.name = "Age Group"
ageDemograph.style.format({"Percentage of Players":"{:,.1f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [46]:
#Calculate total purchase value by age group = purchaseTotalPrice #Count purchases by age group = purchaseCountAge
#Calculate the average purchase price by age group = purchasePriceAvg
purchaseTotalPrice = ageGroup["Price"].sum()
purchaseCountAge = ageGroup["Purchase ID"].count()
purchasePriceAvg = ageGroup["Price"].mean()

#Calculate the average purchase per person by the age.... totalCount=> age demograpichs
averagePurchaseAge = (purchaseTotalPrice/totalCount)

#Display data frame with data values
age_demographics = pd.DataFrame({"Purchase Count": purchaseCountAge,
                                 "Average Purchase Price": purchasePriceAvg,
                                 "Average Purchase Total Per Person": averagePurchaseAge,
                                 "Total Purchase Value":purchaseTotalPrice,})
age_demographics.index.name = "Age Ranges"

#Format Values for the data frame
age_demographics.style.format({"Average Purchase Total Per Person":"${:.2f}",
                              "Average Purchase Price":"${:.2f}",
                               "Total Purchase Value":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
#Group data by players names
playerNames = purchase_data.groupby("SN")


#Calculate the average purchase by name => avgbigSpender #Count the total purchases by name => bigSpenderCount
#Calculate purchase total => bigSpenderTotal
avgbigSpender = playerNames["Price"].mean()
bigSpenderCount = playerNames["Purchase ID"].count()
bigSpenderTotal = playerNames["Price"].sum()

#Display data frame with data
bigSpenders = pd.DataFrame({"Purchase Count": bigSpenderCount,
                             "Average Purchase Price": avgbigSpender,
                             "Total Purchase Value":bigSpenderTotal})

#Sort by highest numner(total purchase) to get the 5 Big Spenders
viewBigSpenders = bigSpenders.sort_values(["Total Purchase Value"], ascending=0).head()

#Format Values for the data frame
viewBigSpenders.style.format({"Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [48]:
#Create new data frame with items related information  &  Group the item data by item id and item name 
PupularItems = purchase_data[["Item ID", "Item Name", "Price"]]
itemInfo = PupularItems.groupby(["Item ID","Item Name"])

#Count of times an item has been purchased and calcualte the purchase value per item 
#Find individual item price using purchaseCount & purchasePrice
purchaseCount = itemInfo["Price"].count()
purchasePrice = itemInfo["Price"].sum()
itemAmout = (purchasePrice/purchaseCount)

# Create data frame with obtained values
bestItems = pd.DataFrame({"Purchase Count": purchaseCount, 
                                   "Item Price":itemAmout,
                                   "Total Purchase Value":purchasePrice})

#Get Big spenders names "SN" and the top 5 item
popularSummary = bestItems.sort_values(["Purchase Count"], ascending=0).head()

#Format Values for the data frame
popularSummary.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:
#Find the mostpopular items and display data frame, arrage the sorting of itmes to find highest purchase 
# viewBigSpenders => Top Spenders & value bestItems => most popular item

viewBigSpenders = bestItems.sort_values(["Total Purchase Value"], ascending=0).head()
viewBigSpenders.style.format({"Item Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}"})