### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [7]:
#purchase_data.head()
#purchase_data.describe()


purchase_id = len(purchase_data["SN"].unique())
playerTotal=pd.DataFrame({"Total number of players":[purchase_id]})
playerTotal

   Total number of players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
purchaseItem = len(purchase_data["Item ID"].unique())
totalAmount=(purchase_data["Price"]).sum()
purchaseAverage = purchase_data["Price"].mean()
allPurchases =(purchase_data["Purchase ID"]).count()

summaryAnalysis_df =pd.DataFrame({"Number of Unique Items":[purchaseItem],
                          "Average Price":[purchaseAverage],
                          "Total Profit":[totalAmount]
                        
})
summaryAnalysis_df.style.format({'Average Price':"${:,.2f}",
                         'Total Profit': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
#purchase_data.head()
#Group data by gender
genders = purchase_data.groupby("Gender")

#genders
#Count the total SN by gender
totalGenders = genders.nunique()["SN"]

#Create total of genders and divivde by total players to get Percentage  and display data frame 
playersPercet = ((totalGenders / purchase_id) * 100)

gendersDemographics = pd.DataFrame({"Players Percentage": playersPercet, "Total Count": totalGenders})

#Display data frame with no index name 
gendersDemographics.index.name = "GAME GENDERS"

#Display the values by "Total Count"  and one decimal place for the percentage
gendersDemographics.sort_values(["Total Count"]).style.format({"Players Percentage":"{:.1f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#Purchase total by gender 
purchaseTotal = genders["Price"].sum()

#Average purchase prices by gender
purchaseAverage = genders["Price"].mean()

#Average of purchase
averageTotal = (totalGenders/purchaseAverage)

#Count number of total purchases per gender 
purchaseCount = genders["Purchase ID"].count()


#Create data frame with obtained values and results with no index
genderDemograph = pd.DataFrame({"Purchase Count": purchaseCount, 
                                    "Average Total Purchase Per Person": averageTotal,
                                "Average Purchase Price": purchaseAverage,
                                    "Average Purchase Value":purchaseTotal})

genderDemograph.index.name = None

# Add Dollar $ to values for better format
genderDemograph.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Average Total Purchase Per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
#Establish bins for ages for later use
ageBins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
groupBins = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],ageBins, labels=groupBins)
#purchase_data.head()
purchase_data

#Display data frame gruped by "Age Group" 
ageGroup = purchase_data.groupby("Age Group")
#ageGroup.head()

#Total count of players per age segment
totalCount = ageGroup["SN"].nunique()

#Calculate percentages of players
percentageAge = ((totalCount/purchase_id) * (100))

#Create data frame with obtained values with formated values
ageDemograph = pd.DataFrame({"Total Count":totalCount,"Percentage of Players":percentageAge})
ageDemograph.index.name = "Age Group"
ageDemograph.style.format({"Percentage of Players":"{:,.1f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80